body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;

}

li {
  padding: 0.25rem;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
  /* Applied 19rem to make content space more consistent */
  max-width: 19rem;
  padding: 0 1rem;
}

/* TODO: size images manually so this is not necessary 
Each picture was manually resized to have a width of 300px, while also keeping the aspect ratio with the height in proportion as needed.
*/

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

/* Per assignment #3 applied flex to nav ul */
nav ul {
  display: flex;
  align-content: space-between;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

/* Per assignment #3 applied flex to item-container */
.item-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 1rem;
}

/* Per assignment #5 "Write the rest of the necessary CSS for item listings (`<div class="item">`)."" */
.item {
  /* equivalent to 49.5% of total browser width,
  to make calculating srcset easier for us :)
  width: 55%; */
  /* Decided not to use this div tag since it made the site not render as well */
}

/* Per assignment #7 - Write CSS that uses media queries to change layouts/style based on device attributes. */
/*********** MEDIA QUERIES ***********/
@media (min-width: 1024px) {
  section { width: 80% }
  img { padding: 0.5rem; }
  p { font-family: fantasy; }
}

@media (max-width: 1024px) {
  section { width: 100% }
  img { padding: 1rem; }
  p { font-family: serif; }
}
